@charset "UTF-8";
/* ===============================================
breakpoint
=============================================== */
/* ===============================================
font-size
=============================================== */ /* ===============================================
Reset
=============================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: bottom;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ===============================================
Base
=============================================== */
body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", sans-serif;
  font-weight: 600;
  line-height: 1.6;
  color: #242422;
}

a {
  color: #242422;
}

img {
  vertical-align: bottom;
}

.br {
  display: block;
}

/* ===============================================
Layout
=============================================== */
/*
  l-container
----------------------------------------------- */
.container {
  width: 100%;
  height: 100%;
}

.contents {
  width: 100%;
  height: 100%;
}

.l-S01,
.l-S02,
.l-S03 {
  position: relative;
  height: 100%;
}

.l-S01 {
  width: 100%;
}

.l-S02 {
  width: 100%;
  padding: 40px 0;
}

.l-S03 {
  width: calc(100% - 32px);
  max-width: 1200px;
  margin: 0 auto;
}

.l-L01,
.l-L02,
.l-L03,
.l-L04,
.l-L05,
.l-L06,
.l-L07,
.l-L08,
.l-L09,
.l-L10,
.l-L11,
.l-L12,
.l-L13,
.l-L14,
.l-L15,
.l-L16 {
  position: relative;
  width: 100%;
  min-height: 24px;
}

/*
  l-header
----------------------------------------------- */
.header .l-S01 {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  background-color: transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 100;
}
.header .l-S01.scroll-nav {
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 1200px) {
  .header .l-S01 {
    height: 100px;
    padding: 0 60px;
  }
  .header .l-L01 {
    width: auto;
  }
  .header .l-L02 {
    width: 90%;
  }
}
/*
  l-main
----------------------------------------------- */
/*
  hero
----------------------------------------------- */
/*
  about
----------------------------------------------- */
/*
  service
----------------------------------------------- */
/*
  difference
----------------------------------------------- */
/*
  reason
----------------------------------------------- */
/*
  flow
----------------------------------------------- */
/*
  creator
----------------------------------------------- */
/*
  FAQ
----------------------------------------------- */
/*
  message
----------------------------------------------- */
/*
  l-footer
----------------------------------------------- */
/* ===============================================
Module
=============================================== */
/*
  m-header
----------------------------------------------- */
/*
  m-main
----------------------------------------------- */
/*
  hero
----------------------------------------------- */
/*
  about
----------------------------------------------- */
/*
  service
----------------------------------------------- */
/*
  difference
----------------------------------------------- */
/*
  reason
----------------------------------------------- */
/*
  flow
----------------------------------------------- */
/*
  creator
----------------------------------------------- */
/*
  FAQ
----------------------------------------------- */
/*
  message
----------------------------------------------- */
/*
  m-footer
----------------------------------------------- */
/* ===============================================
hamburger
=============================================== */
/*
  b-hamburger
----------------------------------------------- */
.l-global-nav {
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 80px 24px;
  width: auto;
  height: 120%;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; /* IE9非対応 */
  -webkit-transform: translateX(-150%); /* Android, BrackberrXtranslateX  */ /* IE9 */
  transform: translateX(-150%);
}
.l-global-nav::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
  width: 100%;
  height: 10px;
  background-image: url(../../img/common/background_beigeLine.svg);
  background-repeat: repeat-x;
  background-size: cover;
  background-position: bottom;
}

.is-active-drawer .l-global-nav {
  position: fixed;
  -webkit-transform: translateX(0%); /* Android, BrackberrXtranslateX  */ /* IE9 */
  transform: translateX(0%);
}

.m-headerNav__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.m-headerNav__box .b-nav__item {
  position: relative;
}
.m-headerNav__box .b-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0px;
  margin: auto 0;
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
  width: 34px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  z-index: -1;
}
.m-headerNav__box .b-nav__item a {
  position: relative;
  display: block;
  padding: 24px;
}

.button-hamburger {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 80px;
  height: 80px;
  margin: auto 0;
  border: 0;
  z-index: 1;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none; /* Chrome, Safari, Opera, Android */
  -moz-appearance: none; /* Firefox */
  appearance: none; /* IE非対応 */
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.button-hamburger:hover {
  opacity: 0.7;
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 24px;
  height: 2px;
  margin: auto;
  background-color: #242422;
  border-radius: 3px;
}
.hamburger:before,
.hamburger:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.hamburger:before {
  top: -8px;
}
.hamburger:after {
  top: 8px;
}

.is-active-drawer .hamburger {
  background-color: transparent;
}

.is-active-drawer .hamburger::before,
.is-active-drawer .hamburger::after {
  top: 0;
  bottom: 0%;
  background-color: #242422;
}

.is-active-drawer .hamburger::before {
  -webkit-transform: rotate(45deg); /* Android, Brackberry  */ /* IE9  */
  transform: rotate(45deg);
}

.is-active-drawer .hamburger:after {
  width: 24px;
  -webkit-transform: rotate(-45deg); /* Android, Brackberry  */ /* IE9  */
  transform: rotate(-45deg);
}

@media screen and (min-width: 1200px) {
  .button-hamburger {
    display: none;
  }
  .l-global-nav {
    position: static;
    padding: 0;
    height: 100%;
    background-color: transparent;
    -webkit-transform: translateX(0); /* Android, Brackberry  */ /* IE9 */
    transform: translateX(0);
  }
  .l-global-nav::before {
    display: none;
  }
  .m-headerNav__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    gap: 0 24px;
  }
  .m-headerNav__box .b-nav__item a {
    display: inline-block;
    padding: 20px 0;
  }
}
/* Accesibility */
.screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

/* ===============================================
Block
=============================================== */
/*
  b-btn
----------------------------------------------- */
/*
  b-text
----------------------------------------------- */
/*
  common
----------- */
.b-sectionTitle {
  font-size: 1.5625rem;
  line-height: 1;
}
.b-sectionTitle .emphasis {
  font-size: 2.8125rem;
}

.b-sectionText {
  font-size: 0.875rem;
  line-height: 2;
  letter-spacing: 0.05em;
}
.b-sectionText--white {
  line-height: 1.8;
  color: #fff;
}

.b-contentTitle {
  font-size: 1.5rem;
}
.b-contentTitle--white {
  color: #fff;
}

.b-contentText {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: 0.05em;
}
.b-contentText--white {
  color: #fff;
}

.b-guidanceNumber {
  font-size: 1.5rem;
  color: #fff;
}

/*
  header
----------- */
.b-logo {
  font-size: 1.5rem;
}

.b-navTitle {
  font-size: 1.125rem;
  font-size: clamp(14px, 1.25vw, 18px);
}

/*
  hero
----------- */
.b-hero__mainCopy {
  font-size: 1.5rem;
}
.b-hero__subCopy {
  font-size: 0.65625rem;
  letter-spacing: 0.05em;
}

/*
  about
----------- */
.b-about__guidanceLabel {
  font-size: 0.625rem;
}
.b-about__guidanceText {
  font-size: 0.75rem;
  text-align: center;
}
.b-about__wrapperText {
  font-size: 0.8125rem;
}

/*
  service
----------- */
.b-service__guidanceSubTitle {
  font-size: 0.75rem;
}
.b-service__guidanceMainTitle {
  font-size: 1rem;
}
.b-service__contentNumber {
  font-size: 10rem;
  color: #ffae18;
  line-height: 1;
}
.b-service__contentSubTitle {
  font-size: 1.125rem;
}
.b-service__boxTitle {
  font-size: 1.25rem;
}
.b-service__boxList {
  font-size: 0.875rem;
}
.b-service__boxResult {
  font-size: 1.25rem;
}
.b-service__boxText {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.05em;
}

/*
  difference
----------- */
.b-difference__mainTitle {
  font-size: 1.875rem;
}
.b-difference__callText {
  font-size: 1.25rem;
  color: #fff;
}
.b-difference__mainText {
  font-size: 1rem;
}
.b-difference__subText {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: 0.05em;
}
.b-difference__graphSubText {
  font-size: 0.625rem;
  font-weight: 500;
}

/*
  reason
----------- */
.b-reason__guidanceTitle {
  font-size: 1.25rem;
}
.b-reason__contentNumber {
  font-size: 6.25rem;
  color: #08b9d6;
  line-height: 1;
}
.b-reason__boxText {
  font-size: 0.875rem;
}
.b-reason__boxResult {
  font-size: 0.875rem;
}

/*
  flow
----------- */
.b-flow__guidanceTitle {
  font-size: 1.25rem;
}

/*
  creator
----------- */
.b-creator__link {
  font-size: 0.875rem;
}
.b-creator__boxTitle {
  font-size: 0.5rem;
  text-align: center;
}
.b-creator__boxTitle--white {
  color: #fff;
}
.b-creator__boxText {
  font-size: 0.5rem;
  text-align: center;
}
.b-creator__boxText--white {
  color: #fff;
}
.b-creator__boxName--jp {
  font-size: 0.5625rem;
}
.b-creator__boxName--en {
  font-size: 0.375rem;
}
.b-creator__boxStatus {
  font-size: 0.4375rem;
}
.b-creator__boxJob {
  font-size: 0.4375rem;
}

/*
  FAQ
----------- */
.b-faq__label {
  font-size: 0.6875rem;
}
.b-faq__boxTitle {
  font-size: 1rem;
}

/*
  message
----------- */
.b-message__title {
  font-size: 1.875rem;
}
.b-message__deco {
  font-size: 3.75rem;
  color: rgb(255, 255, 255);
}

@media screen and (min-width: 960px) {
  .b-sectionTitle {
    font-size: 2.8125rem;
  }
  .b-sectionTitle .emphasis {
    font-size: 3.75rem;
  }
  .b-sectionText {
    font-size: 1.25rem;
  }
  .b-contentTitle {
    font-size: 2.25rem;
  }
  .b-contentText {
    font-size: 1.25rem;
  }
  .b-guidanceNumber {
    font-size: 2.875rem;
  }
  /*
    header
  ----------- */
  .b-logo {
    font-size: 2.5rem;
  }
  .b-navTitle {
    font-size: 1.125rem;
    font-size: clamp(14px, 1.25vw, 18px);
  }
  /*
    hero
  ----------- */
  .b-hero__mainCopy {
    font-size: 3.25rem;
  }
  .b-hero__subCopy {
    font-size: 1.25rem;
  }
  /*
    about
  ----------- */
  .b-about__guidanceLabel {
    font-size: 1.25rem;
  }
  .b-about__guidanceText {
    font-size: 1.625rem;
  }
  .b-about__wrapperText {
    font-size: 1.5rem;
  }
  /*
    service
  ----------- */
  .b-service__guidanceSubTitle {
    font-size: 1.25rem;
  }
  .b-service__guidanceMainTitle {
    font-size: 1.75rem;
  }
  .b-service__contentNumber {
    font-size: 13.75rem;
  }
  .b-service__contentSubTitle {
    font-size: 2.25rem;
  }
  .b-service__boxTitle {
    font-size: 1.5rem;
  }
  .b-service__boxList {
    font-size: 1rem;
  }
  .b-service__boxResult {
    font-size: 1.75rem;
  }
  .b-service__boxText {
    font-size: 1rem;
  }
  /*
    difference
  ----------- */
  .b-difference__mainTitle {
    font-size: 2.8125rem;
  }
  .b-difference__callText {
    font-size: 1.4375rem;
    color: #fff;
  }
  .b-difference__mainText {
    font-size: 1.5rem;
  }
  .b-difference__subText {
    font-size: 1.125rem;
  }
  .b-difference__graphSubText {
    font-size: 0.8125rem;
  }
  /*
    reason
  ----------- */
  .b-reason__guidanceTitle {
    font-size: 1.75rem;
  }
  .b-reason__contentNumber {
    font-size: 7.5rem;
  }
  .b-reason__boxText {
    font-size: 1.375rem;
  }
  .b-reason__boxResult {
    font-size: 1.25rem;
  }
  /*
    flow
  ----------- */
  .b-flow__guidanceTitle {
    font-size: 1.5rem;
  }
  .b-flow__ {
    font-size: 0.875rem;
  }
  /*
    creator
  ----------- */
  .b-creator__link {
    font-size: 1.125rem;
  }
  .b-creator__boxTitle {
    font-size: 0.875rem;
  }
  .b-creator__boxText {
    font-size: 0.875rem;
  }
  .b-creator__boxName--jp {
    font-size: 1rem;
  }
  .b-creator__boxName--en {
    font-size: 0.625rem;
  }
  .b-creator__boxStatus {
    font-size: 0.75rem;
  }
  .b-creator__boxJob {
    font-size: 0.4375rem;
  }
  /*
    FAQ
  ----------- */
  .b-faq__label {
    font-size: 1.125rem;
  }
  .b-faq__boxTitle {
    font-size: 1.5rem;
  }
}
/*
  message
----------- */
.b-message__title {
  font-size: 2.25rem;
}
.b-message__deco {
  font-size: 11.75rem;
}

/*
  b-flame
----------------------------------------------- */
.b-guidanceNumber.flame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 5px solid #fff;
}
.b-guidanceNumber.flame--orange {
  background-color: #ffae18;
}
.b-guidanceNumber.flame--blue {
  background-color: #08b9d6;
}
.b-guidanceNumber.flame--green {
  background-color: #30b483;
}

.b-guidance {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 12px;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
}
.b-guidance img {
  -o-object-fit: contain;
  object-fit: contain;
  height: auto;
}
.b-guidance .b-guidanceNumber {
  position: absolute;
  top: -28px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.b-guidance--service,
.b-guidance--reason {
  padding: 24px;
}
.b-guidance--service .b-guidanceIcon,
.b-guidance--reason .b-guidanceIcon {
  width: 100px;
}
.b-guidance--flow {
  padding: 24px;
}
.b-guidance--flow .b-guidanceIcon {
  width: 60px;
}

.b-about__guidance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
  width: 144px;
  padding: 8px;
}
.b-about__guidance img {
  -o-object-fit: contain;
  object-fit: contain;
  height: auto;
}
.b-about__guidance .b-about__guidanceLabel {
  display: block;
  width: 100%;
  text-align: left;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #efefef;
}
.b-about__guidance .b-guidanceIcon {
  width: 80px;
  margin-bottom: 8px;
}

.b-boxFlame__line {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 16px;
  border: 3px solid #ffae18;
}
.b-boxFlame__line--orange {
  border-color: #ffae18;
}
.b-boxFlame__line--blue {
  border-color: #08b9d6;
}
.b-boxFlame__line--yellow {
  border-color: #ffdf33;
}

.b-boxFlame__lineCircle {
  width: 268px;
  height: 268px;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid #e9525e;
}
.b-boxFlame__lineCircle--pink {
  border-color: #e9525e;
}
.b-boxFlame__lineCircle--blue {
  border-color: #08b9d6;
}

.b-boxFlame__shift {
  position: relative;
  width: 568px;
  height: 433px;
  background-color: #fff;
  border-radius: 16px;
  -webkit-box-shadow: 32px 32px 0 #e9525e;
  box-shadow: 32px 32px 0 #e9525e;
}
.b-boxFlame__shift--blue {
  -webkit-box-shadow: 36px 36px 0 #08b9d6;
  box-shadow: 36px 36px 0 #08b9d6;
}
.b-boxFlame__shift--pink {
  -webkit-box-shadow: 32px 32px 0 #e9525e;
  box-shadow: 32px 32px 0 #e9525e;
}
.b-boxFlame__shift--purple {
  -webkit-box-shadow: 32px 32px 0 #7070d1;
  box-shadow: 32px 32px 0 #7070d1;
}

@media screen and (min-width: 960px) {
  .b-guidanceNumber.flame {
    width: 100px;
    height: 100px;
    border: 8px solid #fff;
  }
  .b-guidance {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    border-radius: 16px;
  }
  .b-guidance .b-guidanceNumber {
    top: -50px;
  }
  .b-guidance--service {
    width: 360px;
    padding: 80px 24px 30px;
  }
  .b-guidance--service .b-guidanceIcon {
    width: 150px;
    margin-bottom: 24px;
  }
  .b-guidance--reason {
    width: 360px;
    padding: 60px 24px 30px;
  }
  .b-guidance--reason .b-guidanceIcon {
    width: 180px;
    margin-bottom: 24px;
  }
  .b-guidance--flow {
    width: 214px;
    padding: 60px 24px 12px;
  }
  .b-guidance--flow .b-guidanceIcon {
    width: 100px;
    margin-bottom: 24px;
  }
  .b-about__guidance {
    border-radius: 16px;
    width: 364px;
    padding: 12px 24px;
  }
  .b-about__guidance .b-about__guidanceLabel {
    margin-bottom: 24px;
  }
  .b-about__guidance .b-guidanceIcon {
    width: 175px;
    margin-bottom: 24px;
  }
}
