@charset "UTF-8";
/* ===============================================
breakpoint
=============================================== */
/* ===============================================
font-size
=============================================== */ /* ===============================================
Reset
=============================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: bottom;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ===============================================
Base
=============================================== */
body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-weight: 600;
  line-height: 1.6;
  color: #242422;
  background-color: #fff;
}

a {
  color: #242422;
}

img {
  vertical-align: bottom;
}

.br {
  display: block;
}

@media screen and (max-width: 700px) {
  .spbr {
    display: block;
  }
}
/* ===============================================
Layout
=============================================== */
/*
  l-container
----------------------------------------------- */
.container {
  width: 100%;
  height: 100%;
}

.contents {
  width: 100%;
  height: 100%;
}

.l-S01,
.l-S02,
.l-S03 {
  position: relative;
  height: 100%;
}

.l-S01 {
  width: 100%;
}

.l-S02 {
  width: 100%;
}

.l-S03 {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.l-L01,
.l-L02,
.l-L03,
.l-L04,
.l-L05,
.l-L06,
.l-L07,
.l-L08,
.l-L09,
.l-L10,
.l-L11,
.l-L12,
.l-L13,
.l-L14,
.l-L15,
.l-L16 {
  position: relative;
  width: 100%;
}

.l-L01 {
  grid-area: l-L01;
}

.l-L02 {
  grid-area: l-L02;
}

.l-L03 {
  grid-area: l-L03;
}

.l-L04 {
  grid-area: l-L04;
}

.l-L05 {
  grid-area: l-L05;
}

.l-L06 {
  grid-area: l-L06;
}

.l-L07 {
  grid-area: l-L07;
}

.l-L08 {
  grid-area: l-L08;
}

.l-L09 {
  grid-area: l-L09;
}

.l-L10 {
  grid-area: l-L10;
}

.l-L11 {
  grid-area: l-L11;
}

.l-L12 {
  grid-area: l-L12;
}

.l-L13 {
  grid-area: l-L13;
}

.l-L14 {
  grid-area: l-L14;
}

.l-L15 {
  grid-area: l-L15;
}

.l-L16 {
  grid-area: l-L16;
}

/*
  l-header
----------------------------------------------- */
.header .l-S01 {
  position: fixed;
  width: 100%;
  height: 56px;
  background-color: transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 100;
}
.header .l-S01.scroll-nav {
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.header .l-S03 {
  max-width: 1320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  .header .l-S01 {
    height: 100px;
  }
  .header .l-L01 {
    width: auto;
  }
  .header .l-L02 {
    width: 90%;
  }
}
/*
  l-main
----------------------------------------------- */
/*
  common
----------------------------------------------- */
.contents {
  background-color: #fff;
}

.s-about .l-L01,
.s-service .l-L01,
.s-reason .l-L01,
.s-flow .l-L01,
.s-creator .l-L01,
.s-faq .l-L01 {
  padding: 104px 0 80px 0;
}
.s-about .l-L02,
.s-service .l-L02,
.s-reason .l-L02,
.s-flow .l-L02,
.s-creator .l-L02,
.s-faq .l-L02 {
  padding-bottom: 40px;
}

/*
  hero
----------------------------------------------- */
.s-hero.l-S01 {
  height: 100vh;
  overflow: hidden;
}
.s-hero .l-S02 {
  position: relative;
  z-index: 0;
}
.s-hero .l-L01 {
  position: absolute;
  top: 38%;
  z-index: 10;
}
.s-hero .l-L02 {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.s-hero .l-L03 {
  width: 100%;
  height: 100%;
}
.s-hero .l-L03 .b-hero__parts01, .s-hero .l-L03 .b-hero__parts02, .s-hero .l-L03 .b-hero__parts03, .s-hero .l-L03 .b-hero__parts04, .s-hero .l-L03 .b-hero__parts05, .s-hero .l-L03 .b-hero__parts06 {
  position: absolute;
}
.s-hero .l-L03 .b-hero__parts01 {
  bottom: -43%;
  left: -10%;
  bottom: -358px;
  left: -145px;
}
.s-hero .l-L03 .b-hero__parts02 {
  top: -7%;
  left: -6%;
  top: -56px;
  left: -84px;
}
.s-hero .l-L03 .b-hero__parts03 {
  top: -33%;
  left: 2.5%;
  top: -270px;
  left: 38px;
}
.s-hero .l-L03 .b-hero__parts04 {
  top: 1%;
  right: 9.5%;
  top: 10px;
  right: 136px;
  z-index: 1;
}
.s-hero .l-L03 .b-hero__parts05 {
  top: 17%;
  right: -10%;
  top: 142px;
  right: -144px;
}
.s-hero .l-L03 .b-hero__parts06 {
  bottom: -34%;
  right: 14%;
  bottom: -278px;
  right: 198px;
}

/*
  about
----------------------------------------------- */
.s-about .l-L04 {
  padding: 56px 0;
  background-color: #e9525e;
}
.s-about .l-L06 {
  padding: 160px 0 104px 0;
}
.s-about .l-L07 {
  padding-bottom: 40px;
}
.s-about .l-L05, .s-about .l-L08 {
  max-width: 930px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.s-about .l-L05 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.s-about .l-L08 {
  gap: 0 64px;
}
.s-about .l-L08 .b-aboutReception__box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.s-about .l-L08 .b-aboutReception__box .b-boxFlame__lineCircle {
  position: relative;
  width: 100%;
}
.s-about .l-L08 .b-aboutReception__box .b-boxFlame__lineCircle::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.s-about .l-L08 .b-aboutReception__box .b-boxFlame__lineCircle img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  height: auto;
}

/*
  service
----------------------------------------------- */
.s-service .l-L04 {
  padding: 104px 0 64px 0;
  background-color: #ffae18;
}
.s-service .l-L05 {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.s-service .l-L05 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.s-service .l-L06 {
  padding-bottom: 104px;
}
.s-service .l-L07, .s-service .l-L10, .s-service .l-L13 {
  padding-top: 160px;
}
.s-service .l-L08, .s-service .l-L11, .s-service .l-L14 {
  padding-bottom: 40px;
}
.s-service .l-L08, .s-service .l-L11, .s-service .l-L14 {
  position: relative;
}
.s-service .l-L08::before, .s-service .l-L11::before, .s-service .l-L14::before {
  content: "";
  font-size: 13.75rem;
  color: #ffae18;
  line-height: 1;
  position: absolute;
  right: 50px;
  bottom: 0;
}
.s-service .l-L08::before {
  content: "01";
}
.s-service .l-L11::before {
  content: "02";
}
.s-service .l-L14::before {
  content: "03";
}
.s-service .l-L09 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 22px 64px;
}
.s-service .l-L09 .b-serviceContents__advantage {
  width: calc((100% - 64px) / 2);
}
.s-service .l-L09 .b-serviceContents__advantageResult {
  width: 100%;
}
.s-service .l-L09 .b-serviceContents__advantageIcon {
  width: 100%;
  text-align: center;
}
.s-service .l-L09 .b-serviceContents__advantageIcon .b-image {
  width: 50px;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  padding-bottom: 4px;
  margin-right: 14px;
}
.s-service .l-L12 .b-serviceContents__support {
  width: 100%;
}
.s-service .l-L15 {
  padding-bottom: 64px;
}
.s-service .l-L16 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 64px;
}
.s-service .l-L16 .b-serviceContents__lowPrice {
  width: calc((100% - 64px) / 2);
}

/*
  difference
----------------------------------------------- */
.s-difference .l-S02 {
  background-color: #edf2f9;
}
.s-difference .l-S03 {
  padding: 104px 0;
}
.s-difference .l-L01 {
  text-align: center;
  padding-bottom: 40px;
}
.s-difference .l-L02 {
  display: grid;
  grid-template-columns: 1fr 53%;
  grid-template-rows: repeat(5, auto);
  gap: 0 64px;
  grid-template-areas: "l-L03 l-L07" "l-L04 l-L07" "l-L05 l-L07" "l-L06 l-L07" "l-L08 l-L07";
}
.s-difference .l-L03, .s-difference .l-L04 {
  padding-bottom: 32px;
}
.s-difference .l-L05 {
  padding-bottom: 24px;
}
.s-difference .l-L07 {
  padding: 32px;
}
.s-difference .l-L08 .b-difference__subText {
  padding: 48px 24px;
}
.s-difference .l-L06 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 56px;
}
.s-difference .l-L06 .b-boxFlame__lineCircle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 132px;
  height: 132px;
}

/*
  reason
----------------------------------------------- */
.s-reason .l-L04 {
  padding: 104px 0 64px 0;
  background-color: #08b9d6;
}
.s-reason .l-L05 {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.s-reason .l-L06 {
  padding-bottom: 144px;
}
.s-reason .l-L07 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 160px;
}
.s-reason .l-L08 {
  width: 45%;
}
.s-reason .l-L12 {
  width: 48%;
  padding-top: 14px;
}
.s-reason .l-L09 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 40px;
  padding-bottom: 40px;
}
.s-reason .l-L10 {
  padding-bottom: 64px;
}
.s-reason .l-L11 .b-reasonContents__boxResult {
  margin: 16px 0 0 40px;
}

/*
  flow
----------------------------------------------- */
.s-flow .l-S02 {
  padding-bottom: 104px;
}
.s-flow .l-L04 {
  padding: 104px 0 64px 0;
  background-color: #30b483;
}
.s-flow .l-L05 {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.s-flow .l-L05::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 90%;
  height: 5px;
  background-color: #fff;
}

/*
  creator
----------------------------------------------- */
.s-creator .l-S02 {
  background-color: #242422;
  padding-bottom: 64px;
}
.s-creator .l-L05 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
}
.s-creator .l-L05 img {
  width: 20%;
}
.s-creator .l-L07 {
  padding-top: 160px;
}
.s-creator .l-L09 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 64px;
}
.s-creator .l-L08, .s-creator .l-L11 {
  padding-bottom: 40px;
}
.s-creator .l-L12 {
  padding-bottom: 56px;
}

/*
  FAQ
----------------------------------------------- */
.s-faq .l-S03 {
  padding-bottom: 104px;
}
.s-faq .l-L03 {
  max-width: 1104px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px 0;
}
.s-faq .l-L03 .b-boxFlame__line {
  width: 100%;
  padding: 32px 72px;
}
.s-faq .l-L03 .b-boxFlame__line .b-faqContents__boxTitle {
  margin-bottom: 24px;
}

/*
  message
----------------------------------------------- */
.s-message .l-S02 {
  position: relative;
  background-color: #edf2f5;
  overflow: hidden;
}
.s-message .l-S02::before {
  content: "SLashNext";
  font-size: 11.75rem;
  line-height: 1;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
  margin: 0 auto;
}
.s-message .l-L01 {
  padding: 104px 0 120px 0;
}
.s-message .l-L02 {
  text-align: center;
  padding-bottom: 32px;
}

/*
  l-footer
----------------------------------------------- */
.footer.sitefooter {
  position: sticky;
  left: 0px;
  bottom: 0px;
  height: 1200px;
  background-color: #242422;
  z-index: -1;
}
.footer .l-S03 {
  padding: 376px 0 104px 0;
  height: auto;
}
.footer .l-L02 {
  text-align: center;
  padding-bottom: 48px;
}
.footer .l-L05 {
  width: 216px;
}
.footer .b-footerCompany {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 624px;
  margin: 0 auto;
  border-top: 1px solid #d9d9d9;
}
.footer .b-footerCompany__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 184px;
  padding: 16px 16px 16px 48px;
  border-bottom: 1px solid #d9d9d9;
}
.footer .b-footerCompany__text {
  width: calc(100% - 184px);
  padding: 16px 48px 16px 16px;
  border-bottom: 1px solid #d9d9d9;
}
.footer .b-footerCompany__text .ashizawa {
  padding-bottom: 4px;
}
.footer .l-L04 {
  width: 90%;
  max-width: 1320px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 24px;
}
.footer .l-L06 .m-footerNav__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 0 24px;
}
.footer .l-L06 .m-footerNav__box .b-nav__item a {
  display: inline-block;
  padding: 20px 0;
}
.footer .l-L07 {
  text-align: center;
  padding: 24px 0;
}

@media screen and (max-height: 850px) {
  .footer.sitefooter {
    position: static;
    height: auto;
  }
  .footer .l-S03 {
    padding: 104px 0;
  }
}
/* ===============================================
Module
=============================================== */
/*
  m-header
----------------------------------------------- */
/*
  m-main
----------------------------------------------- */
/*
  hero
----------------------------------------------- */
/*
  about
----------------------------------------------- */
/*
  service
----------------------------------------------- */
/*
  difference
----------------------------------------------- */
/*
  reason
----------------------------------------------- */
/*
  flow
----------------------------------------------- */
/*
  creator
----------------------------------------------- */
/*
  FAQ
----------------------------------------------- */
/*
  message
----------------------------------------------- */
/*
  m-footer
----------------------------------------------- */
/* ===============================================
hamburger
=============================================== */
/*
  b-hamburger
----------------------------------------------- */
.l-global-nav {
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 80px 24px;
  width: auto;
  height: 120%;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; /* IE9非対応 */
  -webkit-transform: translateX(-150%); /* Android, BrackberrXtranslateX  */ /* IE9 */
  transform: translateX(-150%);
}

.is-active-drawer .l-global-nav {
  position: fixed;
  -webkit-transform: translateX(0%); /* Android, BrackberrXtranslateX  */ /* IE9 */
  transform: translateX(0%);
}

.m-headerNav__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.m-headerNav__box .b-nav__item {
  position: relative;
}
.m-headerNav__box .b-nav__item a {
  position: relative;
  display: block;
}

.button-hamburger {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 80px;
  height: 80px;
  margin: auto 0;
  border: 0;
  z-index: 1;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none; /* Chrome, Safari, Opera, Android */
  -moz-appearance: none; /* Firefox */
  appearance: none; /* IE非対応 */
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.button-hamburger:hover {
  opacity: 0.7;
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 24px;
  height: 2px;
  margin: auto;
  background-color: #242422;
  border-radius: 3px;
}
.hamburger:before, .hamburger:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.hamburger:before {
  top: -8px;
}
.hamburger:after {
  top: 8px;
}

.is-active-drawer .hamburger {
  background-color: transparent;
}

.is-active-drawer .hamburger::before,
.is-active-drawer .hamburger::after {
  top: 0;
  bottom: 0%;
  background-color: #242422;
}

.is-active-drawer .hamburger::before {
  -webkit-transform: rotate(45deg); /* Android, Brackberry  */ /* IE9  */
  transform: rotate(45deg);
}

.is-active-drawer .hamburger:after {
  width: 24px;
  -webkit-transform: rotate(-45deg); /* Android, Brackberry  */ /* IE9  */
  transform: rotate(-45deg);
}

@media screen and (min-width: 1200px) {
  .button-hamburger {
    display: none;
  }
  .l-global-nav {
    position: static;
    padding: 0;
    height: 100%;
    background-color: transparent;
    -webkit-transform: translateX(0); /* Android, Brackberry  */ /* IE9 */
    transform: translateX(0);
  }
  .l-global-nav::before {
    display: none;
  }
  .m-headerNav__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 0 24px;
  }
  .m-headerNav__box .b-nav__item a {
    display: inline-block;
    padding: 20px 0;
  }
}
/* Accesibility */
.screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

/* ===============================================
Block
=============================================== */
/*
  b-btn
----------------------------------------------- */
/*
  b-text
----------------------------------------------- */
/*
  common
----------- */
.b-heading__title {
  font-size: 1.5625rem;
}
.b-heading__title .emphasis {
  font-size: 2.8125rem;
  line-height: 1.35;
}
.b-heading__text {
  font-size: 0.875rem;
  line-height: 2;
  letter-spacing: 0.05em;
}
.b-heading__text--white {
  line-height: 1.8;
  color: #fff;
}

.b-contents__title {
  font-size: 1.5rem;
}
.b-contents__title--white {
  color: #fff;
}
.b-contents__text {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: 0.05em;
}
.b-contents__text--white {
  color: #fff;
}

.b-guidance__number {
  font-size: 1.5rem;
  color: #fff;
}

/*
  header
----------- */
.b-logo {
  font-size: 1.5rem;
}

.b-nav__title {
  font-size: 1rem;
}

/*
  hero
----------- */
.b-hero__mainCopy {
  font-size: 1.5rem;
}
.b-hero__subCopy {
  font-size: 0.65625rem;
  letter-spacing: 0.05em;
}

/*
  about
----------- */
.b-aboutContents__boxLabel {
  font-size: 0.625rem;
}
.b-aboutContents__boxText {
  font-size: 0.75rem;
  text-align: center;
}

.b-aboutReception__boxText {
  font-size: 0.8125rem;
}

/*
  service
----------- */
.b-serviceGuidance__mainTitle {
  font-size: 1rem;
}
.b-serviceGuidance__subTitle {
  font-size: 0.75rem;
}

.b-serviceContents__number {
  font-size: 10rem;
  color: #ffae18;
  line-height: 1;
}
.b-serviceContents__subTitle {
  font-size: 1.125rem;
}
.b-serviceContents__boxTitle {
  font-size: 1.25rem;
}
.b-serviceContents__boxList {
  font-size: 0.875rem;
}
.b-serviceContents__boxResult {
  font-size: 1.25rem;
}
.b-serviceContents__boxText {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.05em;
}

/*
  difference
----------- */
.b-difference__mainTitle {
  font-size: 1.875rem;
}
.b-difference__callText {
  font-size: 1.25rem;
  color: #fff;
}
.b-difference__mainText {
  font-size: 1rem;
}
.b-difference__plusText {
  font-size: 1.5rem;
}
.b-difference__subText {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: 0.05em;
}

.b-differenceDiagram__subText {
  font-size: 0.625rem;
  font-weight: 500;
}

/*
  reason
----------- */
.b-reasonGuidance__title {
  font-size: 1.25rem;
}

.b-reasonContents__number {
  font-size: 6.25rem;
  color: #08b9d6;
  line-height: 1;
}
.b-reasonContents__boxText {
  font-size: 0.875rem;
}
.b-reasonContents__boxResult {
  font-size: 0.875rem;
}

/*
  flow
----------- */
.b-flowContents__title {
  font-size: 1.25rem;
}

/*
  creator
----------- */
.s-creator {
  color: #fff;
}
.s-creator a {
  color: #fff;
}

.b-creatorContents__link {
  font-size: 0.875rem;
}

.b-creatorSLash__boxTitle {
  font-size: 0.5rem;
  text-align: center;
}
.b-creatorSLash__boxTitle--white {
  color: #fff;
}
.b-creatorSLash__boxText {
  font-size: 0.5rem;
  text-align: center;
}
.b-creatorSLash__boxText--white {
  color: #fff;
}

.b-creatorCranks__boxName--jp {
  font-size: 0.5625rem;
  line-height: 0.8;
}
.b-creatorCranks__boxName--en {
  font-size: 0.375rem;
  line-height: 1;
}
.b-creatorCranks__boxStatus {
  font-size: 0.4375rem;
}
.b-creatorCranks__boxJob {
  font-size: 0.4375rem;
}

/*
  FAQ
----------- */
.b-faqContents__label {
  font-size: 0.6875rem;
}
.b-faqContents__boxTitle {
  font-size: 1rem;
}

/*
  message
----------- */
.b-messageContents__title {
  font-size: 1.875rem;
}
.b-messageContents__deco {
  font-size: 3.75rem;
  color: rgb(255, 255, 255);
}

/*
  footer
----------- */
.footer,
.footer a {
  color: #fff;
}

.b-footerCompany {
  line-height: 1.1;
}
.b-footerCompany__label {
  font-size: 0.6875rem;
}
.b-footerCompany__text {
  font-size: 0.6875rem;
  font-weight: 500;
}
.b-footerCompany__subText {
  font-size: 0.5rem;
  font-weight: 500;
}

.b-copyRight {
  font-size: 0.625rem;
  font-weight: 500;
}

/*
  @media screen and (min-width: 960px)
----------------------------------------------- */
@media screen and (min-width: 960px) {
  .b-heading__title {
    font-size: 2.8125rem;
  }
  .b-heading__title .emphasis {
    font-size: 3.75rem;
  }
  .b-heading__text {
    font-size: 1.25rem;
  }
  .b-contents__title {
    font-size: 2.25rem;
  }
  .b-contents__text {
    font-size: 1.25rem;
  }
  .b-guidance__number {
    font-size: 2.875rem;
  }
  /*
    header
  ----------- */
  .b-logo {
    font-size: 2.5rem;
  }
  .b-nav__title {
    font-size: 1.125rem;
    font-size: clamp(14px, 1.25vw, 18px);
  }
  /*
    hero
  ----------- */
  .b-hero__mainCopy {
    font-size: 3.25rem;
  }
  .b-hero__subCopy {
    font-size: 1.25rem;
  }
  /*
    about
  ----------- */
  .b-aboutContents__boxLabel {
    font-size: 1.25rem;
  }
  .b-aboutContents__boxText {
    font-size: 1.625rem;
  }
  .b-aboutReception__boxText {
    font-size: 1.5rem;
  }
  /*
    service
  ----------- */
  .b-serviceGuidance__mainTitle {
    font-size: 1.75rem;
  }
  .b-serviceGuidance__subTitle {
    font-size: 1.25rem;
  }
  .b-serviceContents__number {
    font-size: 13.75rem;
  }
  .b-serviceContents__subTitle {
    font-size: 2.25rem;
  }
  .b-serviceContents__boxTitle {
    font-size: 1.5rem;
  }
  .b-serviceContents__boxList {
    font-size: 1rem;
  }
  .b-serviceContents__boxResult {
    font-size: 1.75rem;
  }
  .b-serviceContents__boxText {
    font-size: 1rem;
  }
  /*
    difference
  ----------- */
  .b-difference__mainTitle {
    font-size: 2.8125rem;
  }
  .b-difference__callText {
    font-size: 1.4375rem;
    color: #fff;
  }
  .b-difference__mainText {
    font-size: 1.5rem;
  }
  .b-difference__plusText {
    font-size: 2.25rem;
  }
  .b-difference__subText {
    font-size: 1.125rem;
  }
  .b-difference__subText .red {
    color: #e90000;
  }
  .b-differenceDiagram__subText {
    font-size: 0.8125rem;
  }
  /*
    reason
  ----------- */
  .b-reasonGuidance__title {
    font-size: 1.75rem;
  }
  .b-reasonContents__number {
    font-size: 7.5rem;
  }
  .b-reasonContents__boxText {
    font-size: 1.375rem;
  }
  .b-reasonContents__boxResult {
    font-size: 1.25rem;
  }
  /*
    flow
  ----------- */
  .b-flowContents__title {
    font-size: 1.5rem;
  }
  /*
    creator
  ----------- */
  .b-creatorContents__link {
    font-size: 1.125rem;
  }
  .b-creatorSLash__boxTitle {
    font-size: 0.875rem;
  }
  .b-creatorSLash__boxText {
    font-size: 0.875rem;
  }
  .b-creatorCranks__boxName--jp {
    font-size: 1rem;
  }
  .b-creatorCranks__boxName--en {
    font-size: 0.625rem;
  }
  .b-creatorCranks__boxStatus {
    font-size: 0.75rem;
  }
  .b-creatorCranks__boxJob {
    font-size: 0.75rem;
  }
  /*
    FAQ
  ----------- */
  .b-faqContents__label {
    font-size: 1.125rem;
  }
  .b-faqContents__boxTitle {
    font-size: 1.5rem;
  }
}
/*
  message
----------- */
.b-messageContents__title {
  font-size: 2.25rem;
}
.b-messageContents__deco {
  font-size: 11.75rem;
}

/*
  footer
----------- */
.b-footerCompany__label {
  font-size: 1.25rem;
}
.b-footerCompany__text {
  font-size: 1.25rem;
}
.b-footerCompany__subText {
  font-size: 0.875rem;
}

.b-copyRight {
  font-size: 0.75rem;
}

/*
  b-flame
----------------------------------------------- */
.b-guidance__number.flame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 5px solid #fff;
}
.b-guidance__number.flame--orange {
  background-color: #ffae18;
}
.b-guidance__number.flame--blue {
  background-color: #08b9d6;
}
.b-guidance__number.flame--green {
  background-color: #30b483;
}

.b-guidance {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 12px;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
}
.b-guidance img {
  -o-object-fit: contain;
     object-fit: contain;
  height: auto;
}
.b-guidance__number {
  position: absolute;
  top: -28px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.b-guidance--service, .b-guidance--reason {
  padding: 24px;
}
.b-guidance--service .b-guidance__icon, .b-guidance--reason .b-guidance__icon {
  width: 100px;
}
.b-guidance--reason .b-reasonGuidance__title {
  margin: auto 0;
}
.b-guidance--flow {
  padding: 24px;
}
.b-guidance--flow .b-guidance__icon {
  width: 60px;
}

.b-aboutContents__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
  width: 144px;
  padding: 8px;
}
.b-aboutContents__icon {
  width: 48px;
}
.b-aboutContents__boxLabel {
  display: block;
  width: 100%;
  text-align: left;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #efefef;
}
.b-aboutContents__boxIcon {
  width: 80px;
  margin-bottom: 8px;
}

.b-boxFlame__line {
  background-color: #fff;
  border-radius: 16px;
  border: 3px solid #ffae18;
}
.b-boxFlame__line--orange {
  border-color: #ffae18;
}
.b-boxFlame__line--blue {
  border-color: #08b9d6;
}
.b-boxFlame__line--yellow {
  border-color: #ffdf33;
}

.b-boxFlame__lineCircle {
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid #e9525e;
}
.b-boxFlame__lineCircle--pink {
  border-color: #e9525e;
}
.b-boxFlame__lineCircle--blue {
  border-color: #08b9d6;
}

.b-boxFlame__shift {
  position: relative;
  background-color: #fff;
  border-radius: 16px;
  -webkit-box-shadow: 32px 32px 0 #e9525e;
          box-shadow: 32px 32px 0 #e9525e;
}
.b-boxFlame__shift--blue {
  -webkit-box-shadow: 36px 36px 0 #08b9d6;
          box-shadow: 36px 36px 0 #08b9d6;
}
.b-boxFlame__shift--pink {
  -webkit-box-shadow: 32px 32px 0 #e9525e;
          box-shadow: 32px 32px 0 #e9525e;
}
.b-boxFlame__shift--purple {
  -webkit-box-shadow: 32px 32px 0 #7070d1;
          box-shadow: 32px 32px 0 #7070d1;
}

@media screen and (min-width: 960px) {
  .b-guidance__number.flame {
    width: 100px;
    height: 100px;
    border: 8px solid #fff;
  }
  .b-guidance {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    border-radius: 16px;
  }
  .b-guidance__number {
    top: -50px;
  }
  .b-guidance--service {
    width: 360px;
    padding: 80px 16px 30px;
  }
  .b-guidance--service .b-guidance__icon {
    width: 150px;
    margin-bottom: 24px;
  }
  .b-guidance--reason {
    width: 360px;
    padding: 60px 16px 30px;
  }
  .b-guidance--reason .b-guidance__icon {
    width: 180px;
    margin-bottom: 24px;
  }
  .b-guidance--reason .b-guidance__icon.small {
    width: 160px;
    height: 180px;
  }
  .b-guidance--flow {
    width: 214px;
    padding: 60px 24px 12px;
  }
  .b-guidance--flow .b-guidance__icon {
    width: 100px;
    margin-bottom: 24px;
  }
  .b-aboutContents__box {
    border-radius: 16px;
    width: 364px;
    padding: 12px 24px;
  }
  .b-aboutContents__icon {
    width: 150px;
  }
  .b-aboutContents__boxLabel {
    margin-bottom: 24px;
  }
  .b-aboutContents__boxIcon {
    width: 232px;
    margin-bottom: 0;
  }
  .b-aboutContents__boxIcon.small {
    width: 200px;
    height: 232px;
  }
}
/*
  b-flame
----------------------------------------------- */
.b-image {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.b-heading__title .emphasis.icon {
  position: relative;
  z-index: 0;
}
.b-heading__title .emphasis.icon::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  z-index: -2;
}
.b-heading__title .emphasis.icon--pink::before {
  top: -24px;
  left: -30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #e9525e;
}
.b-heading__title .emphasis.icon--orange::before {
  top: -26px;
  right: -29px;
  width: 66px;
  height: 66px;
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
  background-image: url(../../img/hero_04.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.b-heading__title .emphasis.icon--blue::before {
  top: -24px;
  left: -30px;
  width: 60px;
  height: 60px;
  border-radius: 3px;
  background-color: #08b9d6;
}
.b-heading__title .emphasis.icon--green::before {
  top: -25px;
  right: -18px;
  width: 60px;
  height: 60px;
  background-image: url(../../img/hero_03.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.b-heading__title .emphasis.icon--purple::before {
  top: -34px;
  left: -10px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #e9525e;
}
.b-heading__title .emphasis.icon--purple::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -30px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #7070d1;
  z-index: -3;
}
.b-heading__title .emphasis.icon--yellow::before {
  top: -19px;
  right: -44px;
  width: 64px;
  height: 64px;
  -webkit-transform: rotate(13deg);
          transform: rotate(13deg);
  background-image: url(../../img/hero_06.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

/*
  hero
----------------------------------------------- */
/*
  about
----------------------------------------------- */
.b-aboutReception__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px 0;
}
.b-aboutReception__boxText {
  text-align: center;
  margin: auto 0;
}

/*
  service
----------------------------------------------- */
.b-serviceContents__advantage {
  padding: 32px 40px;
  position: relative;
}
.b-serviceContents__advantage .b-serviceContents__boxTitle {
  padding-bottom: 16px;
}
.b-serviceContents__advantage .b-serviceContents__boxIcon {
  position: absolute;
  bottom: 32px;
  left: 40px;
  width: 110px;
}
.b-serviceContents__advantageResult {
  padding: 32px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 24px;
}
.b-serviceContents__advantageWrapper {
  padding-left: 144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px 0;
}
.b-serviceContents__support {
  padding: 32px 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 64px;
}
.b-serviceContents__support .b-serviceContents__supportWrapper {
  width: 45%;
}
.b-serviceContents__support .b-serviceContents__supportWrapper .b-serviceContents__boxIcon {
  padding-bottom: 24px;
  margin: 0 auto;
}
.b-serviceContents__support .b-serviceContents__boxIcon {
  width: 55%;
}
.b-serviceContents__support .b-serviceContents__boxTitle {
  padding-bottom: 24px;
}
.b-serviceContents__lowPrice {
  padding: 32px;
}
.b-serviceContents__lowPrice .b-serviceContents__lowPriceWrapper {
  padding-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 64px;
}
.b-serviceContents__lowPrice .b-serviceContents__lowPriceWrapper .b-serviceContents__boxIcon:first-child {
  position: relative;
  width: 55%;
}
.b-serviceContents__lowPrice .b-serviceContents__lowPriceWrapper .b-serviceContents__boxIcon:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  right: -18%;
  bottom: 0;
  margin: auto 0;
  width: 32px;
  height: 32px;
  background-image: url(../../img/hero_04.svg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: rotate(52deg);
          transform: rotate(52deg);
}
.b-serviceContents__lowPrice .b-serviceContents__lowPriceWrapper .b-serviceContents__boxIcon:last-child {
  width: 45%;
}
.b-serviceContents__lowPrice .b-serviceContents__boxTitle {
  padding-bottom: 32px;
}
.b-serviceContents__lowPrice .b-serviceContents__boxIcon.communication {
  width: 385px;
  margin: 0 auto;
  padding-bottom: 48px;
}

.b-serviceContents__boxList.icon {
  position: relative;
  padding-left: 24px;
}
.b-serviceContents__boxList.icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 4px;
  margin: auto 0;
  width: 14px;
  height: 14px;
  background-image: url(../../img/hero_04.svg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
}
.b-serviceContents__boxList.icon span {
  padding-left: 24px;
}

/*
  difference
----------------------------------------------- */
.b-difference__callText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 43px;
  background-color: #08b9d6;
  border-radius: 8px;
}

/*
  reason
----------------------------------------------- */
.b-reasonContents__boxText {
  position: relative;
  padding-left: 36px;
}
.b-reasonContents__boxText::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: #08b9d6;
}
.b-reasonContents__boxResult {
  position: relative;
  padding-left: 36px;
}
.b-reasonContents__boxResult::before, .b-reasonContents__boxResult::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto 0;
  border-radius: 1.5px;
}
.b-reasonContents__boxResult:before {
  left: 0px;
  width: 20px;
  height: 3px;
  background: #08b9d6;
}
.b-reasonContents__boxResult:after {
  left: 8px;
  width: 8px;
  height: 9px;
  border-top: 3px solid #08b9d6;
  border-right: 3px solid #08b9d6;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*
  flow
----------------------------------------------- */
/*
  creator
----------------------------------------------- */
.m-creatorSlash .b-creatorContents__link,
.m-creatorCranks .b-creatorContents__link {
  position: relative;
  padding: 0 32px 0 24px;
}
.m-creatorSlash .b-creatorContents__link::before, .m-creatorSlash .b-creatorContents__link::after,
.m-creatorCranks .b-creatorContents__link::before,
.m-creatorCranks .b-creatorContents__link::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.m-creatorSlash .b-creatorContents__link::before,
.m-creatorCranks .b-creatorContents__link::before {
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #e9525e;
}
.m-creatorSlash .b-creatorContents__link::after,
.m-creatorCranks .b-creatorContents__link::after {
  right: 0;
  background-image: url(../../img/mdi_external-link.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
}

.m-creatorSlash .b-creatorContents__link::before {
  background-color: #e9525e;
}

.m-creatorCranks .b-creatorContents__link::before {
  background-color: #7070d1;
}

.b-creatorSLash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px;
}
.b-creatorSLash__boxLogo {
  width: 240px;
  padding-bottom: 24px;
}
.b-creatorSLash__cardBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 32px;
}
.b-creatorSLash__cardItem {
  padding: 24px;
  border-radius: 8px;
}
.b-creatorSLash__cardItem.blue {
  background-color: #08234c;
}
.b-creatorSLash__cardItem.gray {
  background-color: #eef2f9;
  color: #242422;
}
.b-creatorSLash__boxTitle {
  position: relative;
  padding: 104px 0 8px 0;
}
.b-creatorSLash__boxTitle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 96px;
  height: 104px;
  background-repeat: no-repeat;
  background-size: contain;
}
.b-creatorSLash__boxTitle.blue::before {
  background-image: url(../../img/creator_slash_02.png);
}
.b-creatorSLash__boxTitle.gray::before {
  background-image: url(../../img/creator_slash_03.png);
}
.b-creatorSLash__boxTitle span::before, .b-creatorSLash__boxTitle span::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}
.b-creatorSLash__boxTitle span::before {
  content: "- ";
}
.b-creatorSLash__boxTitle span::after {
  content: " -";
}
.b-creatorSLash__boxText {
  margin: auto 0;
}

.b-creatorCranks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #242422;
  padding: 32px 64px;
}
.b-creatorCranks__boxLogo {
  width: 318px;
  padding-bottom: 24px;
}
.b-creatorCranks__cardBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 64px;
}
.b-creatorCranks__boxImage {
  padding-bottom: 8px;
}
.b-creatorCranks__boxName--jp {
  padding-bottom: 8px;
}

/*
  FAQ
----------------------------------------------- */
.b-faqContents__boxTitle {
  position: relative;
  z-index: 0;
}
.b-faqContents__boxTitle::before, .b-faqContents__boxTitle::after {
  content: "";
  text-align: center;
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 40px;
}
.b-faqContents__boxTitle::before {
  content: "Q";
  font-size: 1.125rem;
  line-height: 1;
  text-align: center;
  top: 9px;
  left: -35px;
  width: 18px;
  height: 18px;
  z-index: 2;
}
.b-faqContents__boxTitle::after {
  left: -40px;
  width: 40px;
  height: 40px;
  background-image: url(../../img/faq_icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

/*
  message
----------------------------------------------- */
/*
  about
----------------------------------------------- */
.s-about .l-L04 {
  z-index: 2;
}
.s-about .l-L06 {
  position: relative;
  z-index: 0;
}
.s-about .l-L06::before {
  content: "";
  position: absolute;
  top: -74px;
  right: -122px;
  width: 742px;
  height: 742px;
  background-image: url(../../img/background_01.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

/*
  service
----------------------------------------------- */
.s-service .l-L04, .s-service .l-L08, .s-service .l-L12, .s-service .l-L15 {
  z-index: 2;
}
.s-service .l-L06 {
  z-index: 0;
}
.s-service .l-L07, .s-service .l-L10, .s-service .l-L13 {
  position: relative;
}
.s-service .l-L07::before, .s-service .l-L10::before, .s-service .l-L13::before {
  content: "";
  position: absolute;
  width: 930px;
  height: 930px;
  background-image: url(../../img/background_02.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -2;
}
.s-service .l-L07::before {
  top: -164px;
  right: -220px;
  -webkit-transform: rotate(-26deg);
          transform: rotate(-26deg);
}
.s-service .l-L10::before {
  top: -2px;
  left: -400px;
  -webkit-transform: rotate(14deg);
          transform: rotate(14deg);
}
.s-service .l-L13::before {
  top: -60px;
  right: -245px;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

/*
  reason
----------------------------------------------- */
.s-reason .l-L04 {
  z-index: 2;
}
.s-reason .l-L06 {
  z-index: 0;
}
.s-reason .l-L07 {
  position: relative;
}
.s-reason .l-L07::before {
  content: "";
  position: absolute;
  width: 700px;
  height: 700px;
  background-image: url(../../img/background_03.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -2;
}
.s-reason .l-L07:first-child::before {
  top: -20px;
  left: -170px;
  -webkit-transform: rotate(-19deg);
          transform: rotate(-19deg);
}
.s-reason .l-L07:nth-of-type(2)::before {
  top: -18px;
  right: -185px;
  -webkit-transform: rotate(-19deg);
          transform: rotate(-19deg);
}
.s-reason .l-L07:last-child::before {
  top: 90px;
  left: -164px;
  -webkit-transform: rotate(11deg);
          transform: rotate(11deg);
}

/*
  flow
----------------------------------------------- */
.s-flow .l-L04 {
  z-index: 2;
}
.s-flow .l-L01 {
  position: relative;
  z-index: 0;
}
.s-flow .l-L01::before {
  content: "";
  position: absolute;
  top: 130px;
  left: -210px;
  width: 755px;
  height: 755px;
  -webkit-transform: rotate(-11deg);
          transform: rotate(-11deg);
  background-image: url(../../img/background_04.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -2;
}

/*
  FAQ
----------------------------------------------- */
.s-faq .l-L01 {
  position: relative;
  z-index: 0;
}
.s-faq .l-L01::before, .s-faq .l-L01::after {
  content: "";
  position: absolute;
  width: 940px;
  height: 940px;
  background-image: url(../../img/background_02.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -2;
}
.s-faq .l-L01::before {
  top: 95px;
  left: -70px;
  -webkit-transform: rotate(49deg);
          transform: rotate(49deg);
}
.s-faq .l-L01::after {
  bottom: -120px;
  right: -190px;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}