@use "../01_foundation" as *;
/* ===============================================
b-animation
=============================================== */
.fadeUpTrigger {
  opacity: 0;
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*
  hero
----------------------------------------------- */

/*アニメーションの開始から終了までを指定する*/
@keyframes anime_parts01 {
  0% {
    transform: translate(0px, 0px);
  }

  30% {
    transform: translate(20px, -40px);
  }

  60% {
    transform: translate(60px, 20px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes anime_parts02 {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes anime_parts03 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes anime_parts04 {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  50% {
    transform: translate(-90px, -70px) rotate(180deg);
  }

  100% {
    transform: translate(0px, 0px) rotate(360deg);
  }
}
@keyframes anime_parts05 {
  0% {
    transform: translate(0px, 0px) rotate(0);
  }

  50% {
    transform: translateY(30px) rotate(90deg);
  }

  100% {
    transform: translate(0px, 0px) rotate(180deg);
  }
}
@keyframes anime_parts06 {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  50% {
    transform: translate(-100px, -150px) rotate(-180deg);
  }

  100% {
    transform: translate(0px, 0px) rotate(-360deg);
  }
}

.s-hero {
  & .l-L03 {
    width: 100%;
    height: 100%;
    & .b-hero {
      &__parts01,
      &__parts02,
      &__parts03,
      &__parts04,
      &__parts05,
      &__parts06 {
        position: absolute;
      }
      &__parts01 {
        bottom: -190px;
        left: -175px;
        animation: anime_parts01 25s linear 1s infinite;
        z-index: 1;
        width: 120%;
      }
      &__parts02 {
        top: -76px;
        left: -64px;
        animation: anime_parts02 10s linear infinite;
        width: 40%;
      }
      &__parts03 {
        top: -120px;
        left: 38px;
        animation: anime_parts03 140s linear infinite;
        width: 60%;
      }
      &__parts04 {
        top: 150px;
        right: 26px;
        z-index: 1;
        animation: anime_parts04 60s linear infinite;
        width: 30%;
      }
      &__parts05 {
        top: 92px;
        right: -114px;
        animation: anime_parts05 40s linear infinite;
        width: 80%;
      }
      &__parts06 {
        bottom: -68px;
        right: -90px;
        animation: anime_parts06 160s linear infinite;
        width: 70%;
      }
    }
  }
}

@include mq(l) {
  @keyframes anime_parts02 {
    0% {
      transform: translate(0px, 0px);
    }

    50% {
      transform: translateY(50px);
    }

    100% {
      transform: translate(0px, 0px);
    }
  }
  @keyframes anime_parts04 {
    0% {
      transform: translate(0px, 0px) rotate(0deg);
    }

    50% {
      transform: translate(-300px, -70px) rotate(180deg);
    }

    100% {
      transform: translate(0px, 0px) rotate(360deg);
    }
  }
  @keyframes anime_parts05 {
    0% {
      transform: translate(0px, 0px) rotate(0);
    }

    50% {
      transform: translateY(180px) rotate(90deg);
    }

    100% {
      transform: translate(0px, 0px) rotate(180deg);
    }
  }
  @keyframes anime_parts06 {
    0% {
      transform: translate(0px, 0px) rotate(0deg);
    }

    50% {
      transform: translate(-100px, -150px) rotate(-180deg);
    }

    100% {
      transform: translate(0px, 0px) rotate(-360deg);
    }
  }

  .s-hero {
    & .l-L03 {
      & .b-hero {
        &__parts01 {
          bottom: -43%;
          left: -10%;
          bottom: -358px;
          left: -145px;
          animation: anime_parts01 25s linear 1s infinite;
          max-width: 626px;
        }
        &__parts02 {
          top: -7%;
          left: -6%;
          top: -56px;
          left: -84px;
          animation: anime_parts02 10s linear infinite;
          max-width: 231px;
        }
        &__parts03 {
          top: -33%;
          left: 2.5%;
          top: -270px;
          left: 38px;
          animation: anime_parts03 140s linear infinite;
          max-width: 464px;
        }

        &__parts04 {
          top: 1%;
          right: 9.5%;
          top: 10px;
          right: 136px;
          z-index: 1;
          animation: anime_parts04 60s linear infinite;
          max-width: 314px;
        }

        &__parts05 {
          top: 17%;
          right: -10%;
          top: 142px;
          right: -144px;
          animation: anime_parts05 40s linear infinite;
          max-width: 594px;
        }
        &__parts06 {
          bottom: -34%;
          right: 14%;
          bottom: -278px;
          right: 400px;
          animation: anime_parts06 160s linear infinite;
          max-width: 485px;
        }
      }
    }
  }
}

/*
  background
----------------------------------------------- */
@keyframes backgroundAnime01 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(30%, -20%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes backgroundAnime02 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes backgroundAnime03 {
  from {
    transform: rotate(30deg);
  }
  to {
    transform: rotate(390deg);
  }
}
@keyframes backgroundAnime04 {
  from {
    transform: rotate(60deg);
  }
  to {
    transform: rotate(420deg);
  }
}

.s-about .l-L06::before {
  animation: backgroundAnime01 120s linear infinite;
}
.s-service .l-L07::before,
.s-reason .l-L07::before,
.s-flow .l-L01::before,
.s-faq .l-L01::after {
  animation: backgroundAnime02 420s linear infinite;
}

.s-service .l-L10::before,
.s-faq .l-L01::before {
  animation: backgroundAnime03 420s linear infinite;
}

.s-service .l-L13::before {
  animation: backgroundAnime04 420s linear infinite;
}
