@use "../01_foundation" as *;
/*
  about
----------------------------------------------- */
.s-about {
  & .l-L04 {
    z-index: 2;
  }
  & .l-L06 {
    position: relative;
    z-index: 0;
    &::before {
      content: "";
      position: absolute;
      top: -74px;
      right: -122px;
      width: 280px;
      height: 280px;
      background-image: url(../../img/background_01.svg);
      background-repeat: no-repeat;
      background-size: contain;
      z-index: -1;
    }
  }
}

@include mq(l) {
  .s-about {
    & .l-L04 {
      z-index: 2;
    }
    & .l-L06 {
      position: relative;
      z-index: 0;
      &::before {
        content: "";
        position: absolute;
        top: -74px;
        right: -122px;
        width: 742px;
        height: 742px;
        background-image: url(../../img/background_01.svg);
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -1;
      }
    }
  }
}
/*
  service
----------------------------------------------- */
.s-service {
  & .l-L04,
  & .l-L08,
  & .l-L12,
  & .l-L15 {
    z-index: 2;
  }
  & .l-L06 {
    z-index: 0;
  }
  & .l-L07,
  & .l-L10,
  & .l-L13 {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 400px;
      height: 400px;
      background-image: url(../../img/background_02.svg);
      background-repeat: no-repeat;
      background-size: contain;
      z-index: -2;
    }
  }
  & .l-L07 {
    &::before {
      top: 26px;
      right: -140px;
      transform: rotate(-26deg);
    }
  }
  & .l-L10 {
    &::before {
      top: 68px;
      left: -120px;
      transform: rotate(14deg);
    }
  }
  & .l-L13 {
    &::before {
      top: 60px;
      right: -94px;
      transform: rotate(-5deg);
    }
  }
}


@include mq(l) {
  .s-service {
    & .l-L07,
    & .l-L10,
    & .l-L13 {
      &::before {
        width: 930px;
        height: 930px;
      }
    }
    & .l-L07 {
      &::before {
        top: -164px;
        right: -220px;
      }
    }
    & .l-L10 {
      &::before {
        top: -2px;
        left: -400px;
      }
    }
    & .l-L13 {
      &::before {
        top: -60px;
        right: -245px;
      }
    }
  }
}
/*
  reason
----------------------------------------------- */
.s-reason {
  & .l-L04 {
    z-index: 2;
  }
  & .l-L06 {
    z-index: 0;
  }
  & .l-L07 {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 340px;
      height: 340px;
      background-image: url(../../img/background_03.svg);
      background-repeat: no-repeat;
      background-size: contain;
      z-index: -2;
    }
  }
  & .l-L07 {
    &:first-child::before {
      top: 130px;
      left: -80px;
      transform: rotate(-19deg);
    }
    &:nth-of-type(2)::before {
      top: 112px;
      right: -95px;
      transform: rotate(-19deg);
    }
    &:last-child::before {
      top: 130px;
      left: -114px;
      transform: rotate(11deg);
    }
  }
}

@include mq(l) {
  .s-reason {
    & .l-L07 {
      &::before {
        width: 700px;
        height: 700px;
      }
    }
    & .l-L07 {
      &:first-child::before {
        top: -20px;
        left: -170px;
      }
      &:nth-of-type(2)::before {
        top: -18px;
        right: -185px;
      }
      &:last-child::before {
        top: 90px;
        left: -164px;
      }
    }
  }
}
/*
  flow
----------------------------------------------- */
.s-flow {
  & .l-L04 {
    z-index: 2;
  }
  & .l-L01 {
    position: relative;
    z-index: 0;
    &::before {
      content: "";
      position: absolute;
      top: 40px;
      left: -60px;
      width: 350px;
      height: 350px;
      transform: rotate(-11deg);
      background-image: url(../../img/background_04.svg);
      background-repeat: no-repeat;
      background-size: contain;
      z-index: -2;
    }
  }
}

@include mq(l) {
  .s-flow {
    & .l-L01 {
      &::before {
        top: 130px;
        left: -210px;
        width: 755px;
        height: 755px;
      }
    }
  }
}

/*
  FAQ
----------------------------------------------- */
.s-faq {
  & .l-L01 {
    position: relative;
    z-index: 0;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 400px;
      height: 400px;
      background-image: url(../../img/background_02.svg);
      background-repeat: no-repeat;
      background-size: contain;
      z-index: -2;
    }
    &::before {
      top: 95px;
      left: -130px;
      transform: rotate(49deg);
    }
    &::after {
      bottom: -50px;
      right: -90px;
      transform: rotate(20deg);
    }
  }
}

@include mq(l) {
  .s-faq {
    & .l-L01 {
      &::before,
      &::after {
        width: 940px;
        height: 940px;
      }
      &::before {
        top: 95px;
        left: -70px;
      }
      &::after {
        bottom: -120px;
        right: -190px;
      }
    }
  }
}
