@use "../01_foundation" as *;
/*
  b-flame
----------------------------------------------- */
.b-guidance__number.flame {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 5px solid $whiteColor;

  &--orange {
    background-color: $orangeColor;
  }
  &--blue {
    background-color: $blueColor;
  }
  &--green {
    background-color: $greenColor;
  }
}

.b-guidance {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 12px;
  background-color: $whiteColor;
  border-radius: 10px;
  width: 100%;

  & img {
    object-fit: contain;
    height: auto;
  }
  & .b-guidance__number {
    position: absolute;
    top: -28px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  &--service,
  &--reason {
    padding: 24px;
    & .b-guidance__icon {
      width: 100px;
    }
  }

  &--flow {
    padding: 24px;
    & .b-guidance__icon {
      width: 60px;
    }
  }
}

.b-aboutContents {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $whiteColor;
  border-radius: 4px;
  width: 144px;
  padding: 8px;

  & img {
    object-fit: contain;
    height: auto;
  }

  & .b-aboutContents__label {
    display: block;
    width: 100%;
    text-align: left;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid $aboutGuidanceLineColor;
  }
  & .b-guidance__icon {
    width: 80px;
    margin-bottom: 8px;
  }
}

.b-boxFlame__line {
  width: 200px;
  height: 200px;
  background-color: $whiteColor;
  border-radius: 16px;
  border: 3px solid $orangeColor;

  &--orange {
    border-color: $orangeColor;
  }
  &--blue {
    border-color: $blueColor;
  }
  &--yellow {
    border-color: $yellowColor;
  }
}
.b-boxFlame__lineCircle {
  // width: 268px;
  // height: 268px;
  background-color: $whiteColor;
  border-radius: 50%;
  border: 3px solid $pinkColor;
  &--pink {
    border-color: $pinkColor;
  }
  &--blue {
    border-color: $blueColor;
  }
}
.b-boxFlame__shift {
  position: relative;
  width: 568px;
  height: 433px;
  background-color: $whiteColor;
  border-radius: 16px;
  box-shadow: 32px 32px 0 $pinkColor;
  &--blue {
    box-shadow: 36px 36px 0 $blueColor;
  }
  &--pink {
    box-shadow: 32px 32px 0 $pinkColor;
  }
  &--purple {
    box-shadow: 32px 32px 0 $purpleColor;
  }
}

@media screen and (min-width: 960px) {
  .b-guidance__number.flame {
    width: 100px;
    height: 100px;
    border: 8px solid $whiteColor;
  }

  .b-guidance {
    flex-direction: column;
    text-align: center;
    border-radius: 16px;

    & .b-guidance__number {
      top: -50px;
    }

    &--service {
      width: 360px;
      padding: 80px 24px 30px;
      & .b-guidance__icon {
        width: 150px;
        margin-bottom: 24px;
      }
    }

    &--reason {
      width: 360px;
      padding: 60px 24px 30px;
      & .b-guidance__icon {
        width: 180px;
        margin-bottom: 24px;
      }
    }

    &--flow {
      width: 214px;
      padding: 60px 24px 12px;
      & .b-guidance__icon {
        width: 100px;
        margin-bottom: 24px;
      }
    }
  }

  .b-aboutContents {
    border-radius: 16px;
    width: 364px;
    padding: 12px 24px;

    & .b-aboutContents__label {
      margin-bottom: 24px;
    }
    & .b-guidance__icon {
      width: 175px;
      margin-bottom: 24px;
    }
  }
}
