@use "../01_foundation" as *;
/*
  b-text
----------------------------------------------- */
/*
  common
----------- */
.b-heading {
  &__title {
    @include font-size(25);
    text-align: center;
    & .emphasis {
      @include font-size(40);
      line-height: 1.13;
    }
  }
  &__text {
    @include font-size(14);
    line-height: 2;
    letter-spacing: 0.05em;
    &--white {
      line-height: 1.8;
      color: $whiteColor;
    }
  }
}

.b-contents {
  &__title {
    @include font-size(24);
    &--white {
      color: $whiteColor;
    }
  }
  &__text {
    @include font-size(14);
    font-weight: 500;
    line-height: 1.8;
    letter-spacing: 0.05em;
    &--white {
      color: $whiteColor;
    }
  }
}

.b-guidance__number {
  @include font-size(24);
  color: $whiteColor;
}

/*
  header
----------- */
.b-logo {
  @include font-size(24);
}
.b-nav__title {
  @include font-size(16);
}

/*
  hero
----------- */
.b-hero {
  &__mainCopy {
    @include font-size(24);
  }
  &__subCopy {
    @include font-size(10.5);
    letter-spacing: 0.05em;
  }
}

/*
  about
----------- */
.b-aboutContents {
  &__boxLabel {
    @include font-size(10);
  }
  &__boxText {
    @include font-size(12);
    text-align: center;
  }
}
.b-aboutReception__boxText {
  @include font-size(13);
}

/*
  service
----------- */
.b-serviceGuidance {
  &__mainTitle {
    @include font-size(16);
  }
  &__subTitle {
    @include font-size(12);
  }
}

.b-serviceContents {
  &__number {
    @include font-size(160);
    color: $orangeColor;
    line-height: 1;
  }
  &__subTitle {
    @include font-size(18);
  }
  &__boxTitle {
    @include font-size(20);
  }
  &__boxList {
    @include font-size(14);
  }
  &__boxResult {
    @include font-size(20);
  }
  &__boxText {
    @include font-size(14);
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.05em;
  }
}
/*
  difference
----------- */
.b-difference {
  &__mainTitle {
    @include font-size(30);
  }
  &__callText {
    @include font-size(20);
    color: $whiteColor;
  }
  &__mainText {
    @include font-size(16);
  }
  &__plusText {
    @include font-size(24);
  }
  &__subText {
    @include font-size(14);
    font-weight: 500;
    line-height: 1.8;
    letter-spacing: 0.05em;
    & .red {
      color: $redColor;
    }
  }
}

.b-differenceDiagram {
  &__subText {
    @include font-size(10);
    font-weight: 500;
  }
}

/*
  reason
----------- */
.b-reasonGuidance {
  &__title {
    @include font-size(20);
  }
}

.b-reasonContents {
  &__number {
    @include font-size(100);
    color: $blueColor;
    line-height: 1;
  }
  &__boxText {
    @include font-size(14);
  }
  &__boxResult {
    @include font-size(14);
  }
}

/*
  flow
----------- */
.b-flowContents {
  &__title {
    @include font-size(20);
  }
}

/*
  creator
----------- */
.s-creator {
  color: $whiteColor;
  & a {
    color: $whiteColor;
  }
}
.b-creatorContents {
  &__link {
    @include font-size(11);
  }
}

.b-creatorSLash {
  &__boxTitle {
    @include font-size(8);
    text-align: center;
    &--white {
      color: $whiteColor;
    }
  }
  &__boxText {
    @include font-size(8);
    text-align: center;
    font-weight: 500;
    &--white {
      color: $whiteColor;
    }
  }
}

.b-creatorCranks {
  &__boxName--jp {
    @include font-size(9);
    line-height: 0.8;
  }
  &__boxName--en {
    @include font-size(6);
    line-height: 1.6;
  }
  &__boxStatus {
    @include font-size(7);
  }
  &__boxJob {
    @include font-size(7);
    & span {
      display: none;
    }
  }
}

/*
  FAQ
----------- */
.b-faqContents {
  &__label {
    @include font-size(11);
  }
  &__boxTitle {
    @include font-size(16);
  }
}

/*
  message
----------- */
.b-messageContents {
  &__title {
    @include font-size(30);
  }
  &__deco {
    @include font-size(60);
    color: rgba(255, 255, 255, 07);
  }
}

/*
  footer
----------- */
.footer,
.footer a {
  color: $whiteColor;
}
.b-footerCompany {
  line-height: 1.1;
  &__label {
    @include font-size(11);
  }
  &__text {
    @include font-size(11);
    font-weight: 500;
  }
  &__subText {
    @include font-size(8);
    font-weight: 500;
  }
}
.b-nav__footerTitle {
  @include font-size(11);
}
.b-copyRight {
  @include font-size(10);
  font-weight: 500;
}

/*
  @media screen and (min-width: 960px)
----------------------------------------------- */
@include mq(l) {
  .b-heading {
    &__title {
      @include font-size(45);
      text-align: left;
      & .emphasis {
        @include font-size(60);
        line-height: 1.35;
      }
    }
    &__text {
      @include font-size(20);
    }
  }

  .b-contents {
    &__title {
      @include font-size(36);
    }
    &__text {
      @include font-size(20);
    }
  }

  .b-guidance__number {
    @include font-size(46);
  }

  /*
  header
----------- */
  .b-logo {
    @include font-size(40);
  }
  .b-nav__title {
    @include font-size(18);
    font-size: clamp(14px, 1.25vw, 18px);
  }

  /*
  hero
----------- */
  .b-hero {
    &__mainCopy {
      @include font-size(52);
    }
    &__subCopy {
      @include font-size(20);
    }
  }

  /*
  about
----------- */
  .b-aboutContents {
    &__boxLabel {
      @include font-size(20);
    }
    &__boxText {
      @include font-size(26);
    }
  }
  .b-aboutReception__boxText {
    @include font-size(24);
  }

  /*
  service
----------- */
  .b-serviceGuidance {
    &__mainTitle {
      @include font-size(28);
    }
    &__subTitle {
      @include font-size(20);
    }
  }
  .b-serviceContents {
    &__number {
      @include font-size(220);
    }
    &__subTitle {
      @include font-size(36);
    }
    &__boxTitle {
      @include font-size(24);
    }
    &__boxList {
      @include font-size(16);
    }
    &__boxResult {
      @include font-size(28);
    }
    &__boxText {
      @include font-size(16);
    }
  }

  /*
  difference
----------- */
  .b-difference {
    &__mainTitle {
      @include font-size(45);
    }
    &__callText {
      @include font-size(23);
      color: $whiteColor;
    }
    &__mainText {
      @include font-size(24);
    }
    &__plusText {
      @include font-size(36);
    }
    &__subText {
      @include font-size(18);
    }
  }
  

  /*
  reason
----------- */
  .b-reasonGuidance {
    &__title {
      @include font-size(28);
    }
  }
  .b-reasonContents {
    &__number {
      @include font-size(120);
    }
    &__boxText {
      @include font-size(22);
    }
    &__boxResult {
      @include font-size(20);
    }
  }

  /*
  flow
----------- */
  .b-flowContents {
    &__title {
      @include font-size(24);
    }
  }

  /*
  creator
----------- */

  .b-creatorContents {
    &__link {
      @include font-size(18);
    }
  }
  .b-creatorSLash {
    &__boxTitle {
      @include font-size(14);
    }
    &__boxText {
      @include font-size(14);
    }
  }
  .b-creatorCranks {
    &__boxName--jp {
      @include font-size(16);
    }
    &__boxName--en {
      @include font-size(10);
    }
    &__boxStatus {
      @include font-size(12);
    }
    &__boxJob {
      @include font-size(12);
      & span {
        display: inline;
      }
      & br {
        display: none;
      }
    }
  }

  /*
  FAQ
----------- */
  .b-faqContents {
    &__label {
      @include font-size(18);
    }
    &__boxTitle {
      @include font-size(24);
    }
  }

  /*
  message
----------- */
  .b-messageContents {
    &__title {
      @include font-size(36);
    }
    &__deco {
      @include font-size(188);
    }
  }

  /*
  footer
----------- */
  .b-footerCompany {
    &__label {
      @include font-size(20);
    }
    &__text {
      @include font-size(20);
    }
    &__subText {
      @include font-size(14);
    }
  }
  .b-nav__footerTitle {
    @include font-size(16);
  }

  .b-copyRight {
    @include font-size(12);
  }
}
