@use "../01_foundation" as *;
/*
  l-header
----------------------------------------------- */
.header {
  & .l-S01 {
    position: fixed;
    width: 100%;
    height: 56px;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    z-index: 100;
  }

  & .l-S01.scroll-nav {
    background: $whiteColor;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  & .l-S03 {
    max-width: 1320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    & .l-S01 {
      height: 100px;
    }

    & .l-L01 {
      width: auto;
    }
    & .l-L02 {
      width: 90%;
    }
  }
}
